<footer>
	<div class="container">
		<div class="col-md-8">
			<h3 class="footer-title">ACAIS 2015</h3>

			<p>ACAIS 2015 is an annual symposium organised by a team of students, all studying Artificial Intelligence at the <a href="http://www.ru.nl">Radboud University</a>. ACAIS and the committee are part of study association <a href="http://www.svcognac.nl">CognAC</a>. Our philosophy is <em>for and by students</em>; organsing an event that stimulates new insights and the exchange of information.</p>
			<p>ACAIS is non-profit and is fully funded by ticket fees, subsidies and sponsorships.</p>
			<p>Website built by Wouter Bulten &amp; Thijs van Nieuwdorp.</p>
			<p>&copy; Annual CognAC AI Symposium 2014-2015</p>
		</div>
		<div class="col-md-4 footer-banner">
			<h3 class="footer-title">Contact</h3>
			<address>
				<strong>Symposium Committee ACAIS</strong><br>
				<i>Study association CognAC</i><br>
				Postbus 9104<br>
				6500 HE Nijmegen<br>
				The Netherlands<br>
				Bank (IBAN): <small>NL75 RABO 0184 8452 03</small><br>
				<br>
				<a href="mailto:symposium@svcognac.nl">symposium@svcognac.nl</a><br>
			</address>
		</div>
	</div>
</footer>