

/* ==========================================================================
   ACAIS custom styles
   ========================================================================== */

/* Top navigation */
.navbar {
	background-color: #8B0000;
    color:  white;
}

.navbar-default .navbar-brand {
    color: white;
    text-shadow:0px 1px 0 rgb(203,203,203), 0px 1px 0 rgb(189,189,189),0px 3px 3px rgba(0,0,0,0.6),0px 2px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}

/* Home page lead */

.jumbotron.landing {
	background: url("../img/bg-front-filter.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	
	border-bottom: 2px solid #8B0000;
}

.fronttitle{
	margin-top: 80px;
}

.fronttitle .brand{
	color:#8B0000;
	font-size:80px;
	letter-spacing:10px;
    font-weight: bold;
	text-shadow:0px 0px 0 rgb(245,245,245),0px 1px 0 rgb(236,236,236),0px 2px 0 rgb(226,226,226),0px 3px 0 rgb(216,216,216), 0px 4px 0 rgb(206,206,206),0px 5px 4px rgba(0,0,0,1),0px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.fronttitle .theme {
	color: #fff;
	text-shadow:0px 0px 0 rgb(231,231,231),0px 1px 0 rgb(217,217,217),0px 2px 0 rgb(203,203,203), 0px 3px 0 rgb(189,189,189),0px 4px 3px rgba(0,0,0,0.6),0px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
	
	font-size:80px;
}

.landing .lead {
	color: #fff;
}

.title{
    color: #8B0000;
    font-size: 35px;
    text-shadow:0px 1px 0 rgb(203,203,203), 0px 1px 0 rgb(189,189,189),0px 3px 3px rgba(0,0,0,0.6),0px 2px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}