

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
    background-image: url('../img/bg-blur.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}












