---
layout: default
---
<div class="page-content container">
    <div class="wrapper speaker-table">
        <br><br>
        <h2 class="title"> {{ page.subject }} </h2>
        <div class="col-md-8">
            <table>
                <tr>
                    <td class="meh">
                        <b>Name</b>:
                    </td>
                    <td>
                        {{ page.author }}
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="meh">
                        <b>Abstract</b>:
                    </td>
                    <td>
                        {{ page.content }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="class-md-4"><img src=http://cops.usdoj.gov/html/dispatch/01-2013/images/Blankman.jpg></div>
    </div>
</div>
